@font-face {
    font-family: 'UVF-Filxgirl';
    src: url('fonts/UVF Filxgirl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'West-Condensed';
    src: url('fonts/West Condensed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ED-Lavonia';
    src: url('fonts/ED Lavonia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ED-Piedmont';
    src: url('fonts/ED Piedmont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frauen-Roman';
    src: url('fonts/Frauen Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frauen-Script'; /*Cân nhắc xem có nên giữ lại font này không, trông không đẹp lắm*/
    src: url('fonts/Frauen Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FzManstein';
    src: url('fonts/FzManstein.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wagon-ExtraLight';
    src: url('fonts/Wagon-ExtraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hello-Honey';
    src: url('fonts/Hello Honey.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Indulge-Script';
    src: url('fonts/Indulge Script.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fraunces-Black';
    src: url('fonts/Fraunces Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 
/* Không đẹp*/
@font-face {
    font-family: 'VLFADILLA';
    src: url('fonts/VLFADILLA.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HILLDA';
    src: url('fonts/HILLDA.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'PoetsenOne';
    src: url('fonts/PoetsenOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}